body {
    background-color: rgb(153, 152, 152);
}

#animals {
    display: inline-block;
}

form {
    float: right;
    position: relative;
    right: 50px;
    font-family: 'Aladin', cursive;
    font-size: 40px;
    
}

button {
    width: 100px;
    height: 40px;
    color: rgb(255, 254, 254);
    background-color: rgb(12, 122, 54);
    font-size: 18px;
    cursor: pointer;
    font-family: 'Aladin', cursive;
    letter-spacing: 1px;
}

button:hover {
    background-color: rgb(222, 222, 228);
    color: black
}

#addAnimal {
    position: relative;
    width: 100px;
    height: 40px;
    color: rgb(255, 254, 254);
    background-color:rgb(12, 122, 54);
    font-size: 20px;
    cursor: pointer;
    font-family: 'Aladin', cursive;
    letter-spacing: 1px;
}

#addAnimal:hover {
    background-color: rgb(222, 222, 228);
    color: black
}

#animal-input {
    width: 300px;
    height: 30px;
    
}

label {
    font-size: 20px;
    font-weight: bold;
}

